<div class="row">
    <div class="col">
        <input #texto name="pelicula" type="text" (keyup)="buscarPelicula(texto.value)" class="form-control" placeholder="Buscar película...">
    </div>
    <div class="m-4"></div>
    <div class=" container alert alert-danger fadeIn fast" role="alert" *ngIf="!ready">
        No ha insertado ningún término para buscar!
    </div>
    <div class=" container alert alert-danger fadeIn fast" role="alert" *ngIf="!content">
        No se han encontrado películas para: {{ texto.value }}
    </div>
</div>

<div class="animated fast fadeIn">
    <div class="view view-first animated fadeIn" *ngFor="let p of peliculas" (click)="getDetail(p.id, 'search')">
        <img [src]="p.poster_path | imgMovies" [alt]="p.title" />
        <div class="mask">
            <h2>{{ p.title }}</h2>
            <p>{{ p.overview | sizeParagraph }}</p>
            <a (click)="getDetail(p.id)" class="info">Read More</a>
        </div>
    </div>
</div>